<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastre-se, é rápido e fácil</title>
  </head>
  <body>
    <form action="cadastrar" method="post">
      <input type="text" name="name" placeholder="nome" /><br />
      <input type="text" name="email" placeholder="email" /><br />
      <input type="text" name="phone" placeholder="phone" /><br />
      <input type="text" name="password" placeholder="password" /><br />
      <!-- O segundo valor estará selecionado inicialmente -->
      <select name="userStatus">
        <option value="1">Ativo</option>
        <option value="2" selected>Suspeenso</option>
        <option value="3">Bloqueado</option>
      </select>
      <input type="submit" value="cadastrar" />
    </form>
  </body>
</html>
